.model_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #14141f9c;
    z-index: 4444;
}

.mmodel {
    position: relative;
    top: 50%;
    left: 50%;
    width: 500px;
    height: fit-content;

    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 30px;
    z-index: 5555;
    background-color: #2d2d45;
}
.mmodel .money {
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
}
.input_item input {
    width: 100%;
    background: transparent;
    border: 1px solid #ddd;
    color: #fff;
    padding: 8px 25px;
    border-radius: 5px;

}
.input_item h6 {
    font-size: .8rem;
    color: #fff;

}

.input_item {
    margin-bottom: 14px;
}
.place-bid-btn {
    padding: 7px 25px;
    border: none;
    width: 120px;
    margin: 0 auto;
    background-color: #5142fc;
    border-radius: 50px;
    font-size: .8rem;
    display: block;
    cursor: pointer;
}
::placeholder {
    font-size: .7rem;
}

.close_model {
    position: absolute;
    top: -2px;
    right: -2px;

}
.close_model i {
    padding: 6px;
    background-color: #5142fc;
    color: #fff;
    border-radius: 50%;
}

.f {
    margin-bottom: 2px;
}
@media only screen and (max-width: 1023px) {
    .mmodel {
        width: 320px;
        height: auto;
        top: 55%;
    }
    .mmodel h6 {
        font-size: 0.7rem;
        letter-spacing: 1px;
        margin-bottom: 1px !important;
    }
    .mmodel p {
        font-size: 0.6rem;
        letter-spacing: 1px;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    .mmodel .money {
        font-weight: 300;
        font-size: 0.8rem;
    }
    .mmodel {
        padding: 20px;
    }
    .input_item input {
        padding: 7px 20px;
    }
    
}