@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;

}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #14141f !important;
}

h1,h2 {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
}
 p {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  opacity: 85%;
  line-height: 35px;
 }
 a {
  text-decoration: none;
  color: unset;
 }

 a:hover {
  color: unset;
 }

 ul {
  list-style: none;
  padding: 0;
  margin: 0;
 }

 section, footer {
  padding: 60px 0px;
 }

 /* custom scrollbar */

 ::-webkit-scrollbar {
  width: 10px;
  height: 7px;
  background-color: #343444;
 }
::-webkit-scrollbar-thumb {
  background: linear-gradient(-45deg, #e250e5, #4850e6, #e250e5, #4850e6 );
  border-radius: 2rem;
}